server:
  port: 8080

spring:
  datasource:
    url: jdbc:oracle:thin:@${ORACLE_HOST:localhost}:${ORACLE_PORT:1521}/${ORACLE_SERVICE:XE}
    username: ${ORACLE_USER:trilhajusta}
    password: ${ORACLE_PASSWORD:secret}
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
    open-in-view: false
  messages:
    basename: messages
    encoding: UTF-8
  cache:
    type: caffeine
  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USER:guest}
    password: ${RABBIT_PASSWORD:guest}

  # Spring AI (OpenAI)
  ai:
    openai:
      api-key: ${OPENAI_API_KEY:replaceme}

jwt:
  secret: ${JWT_SECRET:devsecret-super-unsafe}
  expiration-ms: 86400000 # 1 day in ms

---
spring:
  config:
    activate:
      on-profile: h2
  datasource:
    url: jdbc:h2:mem:trilhajusta;MODE=Oracle;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console
